.img {
  width: 300px;
  /* Adjust the width as needed */
  height: 200px;
  /* Adjust the height as needed */
  animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
